.checkboxblue{
  background-color: white; 
  color: #8CB0EC;
}
.checkboxblue:hover {
  background-color: #937474; 
  color: white;
}
.checkboxblue:active {
  background-color: #937474; 
  color: white;
}

.co {
  color: #937474;
  background-color: white; 
}

.co:hover {
  color: white;
  background-color: #937474;
}
